{
  documentation: "http://www.diodes.com/datasheets/AP24x1.pdf"
  symbol:
    pins: [
      [1, "GND", "power", "n"]
      [2, "IN", "power", "l"]
      [3, "IN", "power", "l"]
      [4, "~EN", "in", "l"]
      [6, "OUT", "supply", "r"]
      [7, "OUT", "supply", "r"]
      [5, "FLG", "out", "r"]
    ]
  package:
    son:
      pins: 8
      A: [0.63, 0.57]
      D: [3.05, 2.95]
      E: [3.05, 2.95]
      E1: [3.05, 2.95]
      D2: [2.35, 2.15]
      E2: [1.6, 1.4]
      e: 0.65
      b: [0.3, 0.2]
      L: [0.6, 0.3]
}