{
  documentation: "http://www.atmel.com/Images/Atmel-8387-8-and16-bit-AVR-Microcontroller-XMEGA-A4U_Datasheet.pdf"
  symbol:
    width: 2400
    pins: [
      [9, "VCC", "power", "l"]
      [19, "VCC", "power", "l"]
      [31, "VCC", "power", "l"]
      [39, "AVCC", "power", "l"]
      [40, "PA0/ADC0/AC0/AREF", "io", "l"]
      [41, "PA1/AC1/AC1", "io", "l"]
      [42, "PA2/INTA/ADC2/AC2", "io", "l"]
      [43, "PA3/ADC3/AC3", "io", "l"]
      [44, "PA4/ADC4/AC4", "io", "l"]
      [1, "PA5/ADC5/AC5", "io", "l"]
      [2, "PA6/ADC6/AC6/AC1OUT", "io", "l"]
      [3, "PA7/ADC7/AC7/AC0OUT", "io", "l"]
      [4, "PB0/ADC8/BREF", "io", "r"]
      [5, "PB1/ADC9", "io", "r"]
      [6, "PB2/INTA/ADC10/DAC0", "io", "r"]
      [7, "PB3/ADC11/DAC1", "io", "r"]
      [8, "GND", "power", "n"]
      [10, "PC0/OC0A/\_OC0ALS\_/SDA", "io", "l"]
      [11, "PC1/OC0B/OC0AHS/XCK0/SCL", "io", "l"]
      [12, "PC2/INTA/OC0C/\_OC0BLS\_/RXD0", "io", "l"]
      [13, "PC3/OC0D/OD0BHS/TXD0", "io", "l"]
      [14, "PC4/\_OC0CLS\_/OC1A/\_SS\_", "io", "l"]
      [15, "PC5/OC0CHS/OC1B/XCK1/MOSI", "io", "l"]
      [16, "PC6/\_OC0DLS\_/RXD1/MISO/CLKrtc", "io", "l"]
      [17, "PC7/OC0DHS/TXD1/SCK/CLKper/EVOUT", "io", "l"]
      [18, "GND", "power", "n"]
      [20, "PD0/OC0A", "io", "r"]
      [21, "PD1/OC0B/XCK0", "io", "r"]
      [22, "PD2/INTA/OC0C/RXD0", "io", "r"]
      [23, "PD3/OC0D/TXD0", "io", "r"]
      [24, "PD4/OC1A/\_SS\_", "io", "r"]
      [25, "PD5/OC1B/XCK1/MOSI", "io", "r"]
      [26, "PD6/D-/RXD1/MISO", "io", "r"]
      [27, "PD7/D+/TXD1/SCK/CLKper/EVOUT", "io", "r"]
      [28, "PE0/OC0A/SDA", "io", "r"]
      [29, "PE1/OC0B/XCK0/SCL", "io", "r"]
      [30, "GND", "power", "n"]
      [32, "PE2/INTA/OC0C/RXD0", "io", "r"]
      [33, "PE3/OC0D/TXD0", "io", "r"]
      [34, "PDID", "io", "r"]
      [35, "PDIC/\_RESET\_", "io", "r"]
      [36, "PR0/XTAL2/TOSC2", "io", "r"]
      [37, "PR1/XTAL1/TOSC1", "io", "r"]
      [38, "GND", "power", "n"]
      [45, "GND", "power", "n"]
    ]
  package:
    qfn:
      pins: 44
      A: [1, 0.8]
      D: [7.1, 6.9]
      E: [7.1, 6.9]
      e: 0.5
      b: [0.3, 0.18]
      L: [0.69, 0.59]
      D2: [5.4, 5]
      E2: [5.4, 5]
}